/* Fonts Family */

@font-face {
    font-family: 'SF Pro';
    src: url('../fonts/SFPro.ttf') format('truetype')
}

/* A-Index Page */

/* I-Body Style */
body {
    background-color: background: rgb(54, 54, 54);
}

main {
    font-family: 'SFPro', 'Helvetica Neue', sans-serif;
    background: rgb(54, 54, 54);
}

.profile-section, .podcast-section, .setup-section, .tools-links {
    margin-left: 20px;
    margin-right: 20px;
}

/* 1-Profile */

.profile-section {
    background-color: rgb(19, 19, 19);
    text-align: center;
    margin-top: 20px !important;
    border-radius: 20px;
    height: 290px;
}

.profile-img {
    width: 100px;
    border-radius: 50px;
    margin-top: 20px;
}

.name div{
    color: rgb(218, 218, 218);
}

.full-name {
    font-size: 20px;
}

.at-name {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.work-block {
    margin-top: 5px;
    border-radius: 10px;
    background-color: #00947c;
    padding: 10px 0 10px 0;
}

.work-satus {
    color: white;
}

.social-media-list {
    margin-top: 20px !important;
}

.social-media-list a {
    padding: 10px;
    border-radius: 20px;
    margin: 0 5px 0 5px;
}

.email, .email:hover {
    background-color: #00947c;
    color: white;
}

.instagram, .instagram:hover {
    background-color: #c32aa3;
    color: white;
}

.linkedin, .linkedin:hover {
    background-color: #0e76a8;
    color: white
}

.medium, .medium:hover {
    background-color: white;
    color: black;
}

.spotify, .spotify:hover {
    background-color: black;
    color: #1DB954;
}

/* 2-Podcast */

.podcast-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),url("../img/podcast-pict.jpg");
    background-size: cover;
    border-radius: 20px;
    color: white;
    height: 250px;
    margin-top: 20px !important;
    padding-top: 20px;
}

.podcast-section h2 {
    margin-top: 10px;
}

/* 3-Setup */

.setup-section {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ),url("../img/setup-pict.png");
    background-size: cover;
    border-radius: 20px;
    color: white;
    height: 250px;
    margin-top: 20px !important;
    padding-top: 20px;
}

.setup-section a, .setup-section a:hover {
    text-decoration: none;
    color: white;
}

/* 4-Tools */

.tools-links {
    margin-top: 20px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: flex;
    width: 100%;
}

.tools-links div{
    width: 50%;
}

.tools-links h2 {
    color: white;
}

.dotgrid {
    background-color: rgb(19, 19, 19);
    border-radius: 20px;
    margin-right: 10px;
    padding: 15px;
}

.dotgrid a {
    text-decoration: none;
}

.baseline-dotgrid {
    color: rgb(194, 194, 194);
    font-size: 12px;
}

.code-promo {
    color:  rgb(9, 175, 139);
    font-weight: 900;
    margin-top: 5px;
}

.vscode-section {
    background-color: #00947c;
    border-radius: 20px;
    margin-left: 10px;
    padding: 15px;
}

.vscode-section a {
    text-decoration: none;
}

.baseline-vscode {
    font-size: 14px;
    color:  rgb(194, 194, 194);
}

/* II-Footer Style */

footer {
    margin-top: 20px !important;
}

.footer-content {
    background-color: rgb(27, 27, 27);
    color: rgb(141, 141, 141);
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    text-align: center;
    font-family: 'SFPro', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.footer-content a, .footer-content a:hover {
    color:  #00947c;
    text-decoration: none;
}

/* Setup Page */ 

.setup-page {
    margin: auto;
    margin-top: 30px;

    width: 70%
}

.setup-picture {
    margin: auto;
    width: 100%;
    border-radius: 20px;
}

.setup-single-point {
    text-align: center;
    position: relative;
    list-style: none;
    background: #00947c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.setup-single-point:hover {
    background: #006e5c;
}

.setup-single-point a, .setup-single-point a:hover{
    text-decoration: none;
    color: #dbfff9;
    font-size: 18px;
    font-weight: 600;
}

.webcam-logitech {
    top: 50%;
    left: 50%;
}

.webcam-logitech .setup-more-info {
    display: none;
}

.mouse-logitech {
    bottom: 50%;
    right: 38%;
}

.keyboard-logitech {
    bottom: 53%;
    left: 47%;
}

.macbook-pro {
    top: 40%;
    left: 50%;
}