html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 100%;
    font-family: courier-std, monospace;
    font-style: normal;
    font-weight: 400;
}
a {
    color: #093dbe;
    text-decoration: none;
}
img {
    max-width: 100%;
}
strong {
    font-weight: 700;
}
em {
    font-style: italic;
}
.setup-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.setup-container:after {
    content: "";
    display: table;
    clear: both;
}
.setup-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
header {
    margin: 2rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
}
header h3 a {
    font-family: "Permanent Marker", cursive;
    color: #333;
    padding: 0.3rem 1rem;
}
.btn-inline {
    border: none;
    color: #333;
    font-size: inherit;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}
.btn-inline span {
    margin-left: 3px;
    transition: margin-left 0.2s;
}
.btn-inline:hover {
    color: #333;
}
.btn-inline:hover span {
    margin-left: 8px;
}
.btn-inline:focus {
    outline: none;
}
header h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 30px;
    font-size: 1.875rem;
    color: #333;
    font-weight: 800;
    text-transform: uppercase;
    top: -5px;
}
.setup-product {
    text-align: center;
}
.setup-product-wrapper {
    display: inline-block;
    position: relative;
    margin: 5rem auto;
    width: 100%;
    max-width: 1200px;
    background: #777;
    -webkit-box-shadow: 0 35px 20px #777;
    -moz-box-shadow: 0 35px 20px #777;
    box-shadow: 0 35px 20px #777;
}
.setup-product-wrapper > img {
    display: block;
}
.setup-single-point {
    position: absolute;
    border-radius: 50%;
}
.setup-single-point > a {
    position: relative;
    z-index: 2;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: inherit;
    background: #00947c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.setup-single-point > a::after,
.setup-single-point > a:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.setup-single-point > a::after {
    height: 2px;
    width: 12px;
}
.setup-single-point > a::before {
    height: 12px;
    width: 2px;
}
.setup-single-point::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    background-color: transparent;
    -webkit-animation: setup-pulse 2s infinite;
    -moz-animation: setup-pulse 2s infinite;
    animation: setup-pulse 2s infinite;
}
@media only screen and (max-width: 380px) {
    .setup-single-point > a {
        width: 12px;
        height: 12px;
    }
    .setup-single-point > a::after {
        height: 2px;
        width: 8px;
    }
    .setup-single-point > a::before {
        height: 8px;
        width: 2px;
    }
}
.setup-single-point:nth-of-type(1) {
    top: 25%;
    left: 49%;
}
.setup-single-point:nth-of-type(2) {
    top: 35%;
    right: 48%;
}
.setup-single-point:nth-of-type(3) {
    top: 50%;
    right: 14%;
}
.setup-single-point:nth-of-type(4) {
    top: 39%;
    left: 77%;
}
.setup-single-point:nth-of-type(5) {
    top: 75%;
    left: 29%;
}
.setup-single-point:nth-of-type(6) {
    bottom: 17%;
    left: 47%;
}
.setup-single-point:nth-of-type(7) {
    bottom: 37%;
    right: 37%;
}
.setup-single-point:nth-of-type(8) {
    top: 38%;
    left: 40%;
}
.setup-single-point:nth-of-type(9) {
    top: 33%;
    right: 40%;
}
.setup-single-point:nth-of-type(10) {
    top: 61%;
    left: 23%;
}
.setup-single-point:nth-of-type(11) {
    top: 25%;
    right: 57%;
}
.setup-single-point:nth-of-type(12) {
    top: 57%;
    left: 40%;
}
.setup-single-point:nth-of-type(13) {
    top: 52%;
    left: 20%;
}
.setup-single-point:nth-of-type(14) {
    top: 53%;
    left: 48%;
}
.setup-single-point:nth-of-type(15) {
    bottom: 29%;
    left: 48%;
}
.setup-single-point:nth-of-type(16) {
    top: 53%;
    right: 39%;
}
.setup-single-point:nth-of-type(17) {
    top: 67%;
    right: 40%;
}
.setup-single-point:nth-of-type(18) {
    top: 68%;
    right: 33%;
}
.setup-single-point:nth-of-type(19) {
    top: 56%;
    right: 27%;
}
.setup-single-point:nth-of-type(20) {
    bottom: 23%;
    right: 20%;
}
.setup-single-point.is-open > a {
    background-color: #9e9e9e;
}
.setup-single-point.is-open > a::after,
.setup-single-point.is-open > a::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
    transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.setup-single-point.is-open::after {
    display: none;
}
.setup-single-point.is-open .setup-more-info {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.setup-single-point.visited > a {
    background-color: #9e9e9e;
}
.setup-single-point.visited::after {
    display: none;
}
@media only screen and (min-width: 600px) {
    .setup-single-point.is-open .setup-more-info.setup-left {
        right: 140%;
    }
    .setup-single-point.is-open .setup-more-info.setup-right {
        left: 140%;
    }
    .setup-single-point.is-open .setup-more-info.setup-top {
        bottom: 140%;
    }
    .setup-single-point.is-open .setup-more-info.setup-bottom {
        top: 140%;
    }
}
@-webkit-keyframes setup-pulse {
    0% {
        -webkit-transform: scale(1);
        box-shadow: inset 0 0 1px 1px #00947c;
    }
    50% {
        box-shadow: inset 0 0 1px 1px #00947c;
    }
    100% {
        -webkit-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(10, 69, 214, 0);
    }
}
@-moz-keyframes setup-pulse {
    0% {
        -moz-transform: scale(1);
        box-shadow: inset 0 0 1px 1px #00947c;
    }
    50% {
        box-shadow: inset 0 0 1px 1px #00947c;
    }
    100% {
        -moz-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(10, 69, 214, 0);
    }
}
@keyframes setup-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px #00947c;
    }
    50% {
        box-shadow: inset 0 0 1px 1px #00947c;
    }
    100% {
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -ms-transform: scale(1.6);
        -o-transform: scale(1.6);
        transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(10, 69, 214, 0);
    }
}
.setup-single-point .setup-more-info {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    text-align: left;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2em 1em 1em;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.setup-single-point .setup-more-info::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    display: none;
    border: 8px solid transparent;
}
.setup-single-point .setup-more-info h2 {
    font-size: 22px;
    font-size: 1.375rem;
}
.setup-single-point .setup-more-info p {
    margin-top: 0.8rem;
    color: #333;
}
@media only screen and (min-width: 600px) {
    .setup-single-point .setup-more-info {
        position: absolute;
        width: 220px;
        height: 240px;
        padding: 1em;
        overflow-y: visible;
        line-height: 1.4;
        border-radius: 0.25em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .setup-single-point .setup-more-info::before {
        display: block;
    }
    .setup-single-point .setup-more-info.setup-left,
    .setup-single-point .setup-more-info.setup-right {
        overflow: scroll;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .setup-single-point .setup-more-info.setup-left::before,
    .setup-single-point .setup-more-info.setup-right::before {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .setup-single-point .setup-more-info.setup-left {
        right: 160%;
        left: auto;
    }
    .setup-single-point .setup-more-info.setup-left::before {
        border-left-color: rgba(255, 255, 255, 0.95);
        left: 100%;
    }
    .setup-single-point .setup-more-info.setup-right {
        left: 160%;
    }
    .setup-single-point .setup-more-info.setup-right::before {
        border-right-color: rgba(255, 255, 255, 0.95);
        right: 100%;
    }
    .setup-single-point .setup-more-info.setup-top,
    .setup-single-point .setup-more-info.setup-bottom {
        left: 50%;
        right: auto;
        overflow: scroll;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .setup-single-point .setup-more-info.setup-top::before,
    .setup-single-point .setup-more-info.setup-bottom::before {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .setup-single-point .setup-more-info.setup-top {
        bottom: 160%;
        top: auto;
    }
    .setup-single-point .setup-more-info.setup-top::before {
        border-top-color: rgba(255, 255, 255, 0.95);
        top: 100%;
    }
    .setup-single-point .setup-more-info.setup-bottom {
        top: 160%;
    }
    .setup-single-point .setup-more-info.setup-bottom::before {
        border-bottom-color: rgba(255, 255, 255, 0.95);
        bottom: 100%;
    }
    .setup-single-point .setup-more-info h2 {
        font-family: proxima-nova, sans-serif;
        font-size: 14px;
        font-size: 1.25rem;
        margin-bottom: 0;
    }
    .setup-single-point .setup-more-info p {
        font-size: 10px;
        font-size: 0.875rem;
    }
}
.setup-close-info {
    position: fixed;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
}
.setup-close-info::after,
.setup-close-info:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-color: #9e9e9e;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.setup-close-info::after {
    height: 2px;
    width: 16px;
}
.setup-close-info::before {
    height: 16px;
    width: 2px;
}
@media only screen and (min-width: 600px) {
    header {
        margin: 5rem 5rem 0 5rem;
    }
    header h1 {
        font-size: 2rem;
    }
    .setup-close-info {
        display: none;
    }
}
footer {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}
.inner-list {
    font-size: 0.8rem;
    margin: 1rem 0;
}
